//- includes/cards/_info.pug
.card.cards
  .card-header
    p.mb-0.text-center Info
  .card-body
    h3 How it works:
    ul
      li 1. Decide on the task to be done.
      li 2. Set the pomodoro timer (traditionally to 25 minutes).
      li 3. Work on the task until the timer rings.
      li 4. After the timer rings, put a checkmark on a piece of paper.
      li 5. Every four pomodoros, take a short break (3–5 minutes).
      li 6. After four pomodoros take a longer break (15–30 minutes).
    a(href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank") Read more at Wikipedia
