//- index.pug
extends layout/_base

append body
  include includes/main/_audio

append header
  include includes/main/_header

append content
  include includes/main/_content

append footer
  include includes/footer/_footer
