//- includes/main/_content.pug
main(role="main")
  .pomodoro
    .tab-content#nav-tabContent
      .tab-pane.fade.show.active#clock(role="tabpanel" aria-labelledby="clock-tab")
        include ../cards/_clock
      .tab-pane.fade#settings(role="tabpanel" aria-labelledby="settings-tab")
        include ../cards/_settings
      .tab-pane.fade#info(role="tabpanel" aria-labelledby="info-tab")
        include ../cards/_info
      .tab-pane.fade#contact(role="tabpanel" aria-labelledby="contact-tab")
        include ../cards/_contact

    nav
      .nav.nav-tabs.justify-content-center#nav-tab(role="tablist")
        a.nav-item.nav-link.active#clock-tab(data-toggle="tab" href="#clock" role="tab" aria-controls="clock" aria-selected="true")
          | #[i.fas.fa-clock.fa-fw] #[span.d-none.d-sm-inline Clock]
        a.nav-item.nav-link#settings-tab(data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false")
          | #[i.fas.fa-cog.fa-fw] #[span.d-none.d-sm-inline Settings]
        a.nav-item.nav-link#info-tab(data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false")
          | #[i.fas.fa-info-circle.fa-fw] #[span.d-none.d-sm-inline Info]
        a.nav-item.nav-link#contact-tab(data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false")
          | #[i.fas.fa-globe.fa-fw] #[span.d-none.d-sm-inline Contact]
