//- partials/_fonts.pug
//- Fonts CSS File
link(href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet")
script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
