//- partials/_stamp.pug
//
  ___________.__                   since 2018
  \__    ___/|__| _____   ___________  ____
    |    |   |  |/     \_/ __ \_  __ \/  _ \
    |    |   |  |  Y Y  \  ___/|  | \(  (_) )
    |____|   |__|__|_|  /\___  >__|   \____/
                      \/     \/
