//- partials/_stamp.pug
//
  ________   .________       .__               __       since 2018
  \_____  \  |   ____/ _____ |__| ____  __ ___/  |_  ____   ______
  /  ____/  |____  \ /     \|  |/    \|  |  \   __\/ __ \ /  ___/
  /       \  /       \  Y Y  \  |   |  \  |  /|  | \  ___/ \___ \
  \_______ \/______  /__|_|  /__|___|  /____/ |__|  \___  >____  >
          \/       \/      \/        \/                 \/     \/
