//
// Timero (v1.0.0): style.scss
// A fresh way to save your time
// ============================================================================

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(#b2270e, #919);
  font-family: Roboto, sans-serif;
}

.alarm {
  display: none;
  width: 0;
  height: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: block;
  width: 100%;
  height: auto;

  h1 {
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    text-indent: -99999px;
  }

  .img-header {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 35px 0;

    @media (max-width: 320px) {
      padding: 15px 0;
    }
  }
}

.pomodoro {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;

  .nav-tabs {
    padding: 0 1rem 1rem;
    margin: 0 1rem;
    border: none;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: rgba(0, 0, 0, .2);

    .nav-item {
      margin-bottom: 0;
    }

    .nav-link {
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: .5rem;
      border-bottom-left-radius: .5rem;
      color: #fff;

      &.active,
      &:hover {
        border: none;
        background-color: rgba(0, 0, 0, .4);
      }
    }
  }

  @media (max-width: 320px) {
    min-width: 288px;
    margin-top: -140px;

    .nav-tabs {
      padding: 0 .5rem .5rem;
    }
  }

  @media (min-width: 576px) {
    width: 100%;
  }
}

.cards {
  min-height: 308px;
  border-width: 0;
  border-radius: .5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12), 0 8px 8px 0 rgba(0, 0, 0, .24);


  @media (max-width: 320px) {
    min-height: 302px;
    max-height: 344px;
    overflow: auto;
  }

  @media (min-width: 576px) {
    min-height: 388px;
  }
}

.card-header {
  background-color: #b2270e;
  text-shadow: 2px 2px 4px #222;
  text-transform: uppercase;

  &:first-child {
    border-radius: .5rem .5rem 0 0;
  }

  p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 2px;
  }

  @media (max-width: 320px) {
    p {
      font-size: 1.25rem;
    }
  }
}

.card-body {
  ul {
    padding-left: 0;
    list-style: none;
  }
}

.card-footer {
  &:last-child {
    border-radius: 0 0 .5rem .5rem;
  }
}

.timer {
  margin: 0;
  color: #222;
  font-size: 5rem;
  line-height: 1;
  text-align: center;
  text-shadow: 4px 4px 6px #888;

  @media (min-width: 576px) {
    font-size: 10rem;
  }
}

.pomodoros {
  margin: 0;
  color: #222;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;

  strong {
    color: #b2270e;
  }
}

.progress {
  height: 2rem;
  margin: 1rem 0 0;

  .progress-bar {
    background-color: #b2270e;
  }
}

.form-inline {
  justify-content: space-between;
  margin-bottom: .25rem;

  label {
    margin-bottom: 0;
  }
  .custom-select {
    width: 80%;

    @media (max-width: 320px) {
      width: 60%;
    }
  }
}

.footer {
  a,
  p {
    color: #fff;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 320px) {
  .card-link + .card-link {
    margin-left: 1rem;
  }
}
